.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  color: white;
  font-weight: normal;
}
.user{
  width: 200px;
  border-radius: 50rem;
  height: 200px;
  object-fit: cover;
}